{% extends 'base.html' %}

{% block content %}

<form action="/logout" method="POST">

  {{ logout_form.hidden_tag() }}

  {% for field in logout_form
if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {% endfor %}

  <button type="submit">Logout</button>

</form>


<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.username}}</p>
<p>{{user.email}}</p>


<h3>Notes</h3>

<!-- Delete Note -->

<!-- Add Note -->
<a href="/users/{{user.username}}/notes/add">Add A Note</a>

<!-- Delete user account & notes -->
<form action="/users/{{user.username}}/delete" method="POST">

  {{ delete_form.hidden_tag() }}

  {% for field in delete_form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
      </p>
      {% endfor %}

      <button type="submit">Delete User</button>

    </form>

    <div>
      {% for note in notes %}

      <div>{{note.title}} {{note.content}}<a href="/notes/{{note.id}}/update">Edit</a>
        <form action="/delete" method="POST">

          {{ form.hidden_tag() }}

          {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
              {{ field.label }}
              {{ field }}

              {% for error in field.errors %}
              {{ error }}
              {% endfor %}
            </p>
            {% endfor %}

            <button type="submit">Delete</button>
          </form>

        </div>
      </div>
      {% endfor %}

      {% endblock %}